svg {
    font: 10px sans-serif;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis {
    shape-rendering: crispEdges;
}
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
.y.axis line, .y.axis path {
    fill: none;
    stroke: lightgrey;
}

.tutorial-step {
  margin: 10px;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #ccc;
}

.tutorial-step hr {
  border-color: transparent;
}