svg.grid {
  font: 10px sans-serif;
  background-color: #EAEAEA;
  margin: 0;
}

.tutorial-step {
  margin: 10px;
  padding: 10px;
  background-color: #EAEAEA;
  border: 1px solid #231F20;
  border-radius: 6px;
}

.tutorial-step hr {
  border-color: transparent;
}