html, body {
  margin: 0px;
  padding: 0px;
  width: 1200px;
}

body > div {
  float:left;
}

div.section-tree {
  width: 600px;
}

div.section-tutorial {
  border: 1px solid #231F20;
  padding: 20px;
  width: 558px;
}

svg.tree {
  font: 10px sans-serif;
  background-color: #EAEAEA;
  margin: 0;
}

.tutorial-step {
  margin: 10px;
  padding: 10px;
  background-color: #EAEAEA;
  border: 1px solid #231F20;
  border-radius: 6px;
}

.tutorial-step hr {
  border-color: transparent;
}

.fa:hover {
  cursor: pointer;
}

.tutorial.Draft {
  opacity: 0.6;
}
