html, body {
  margin: 0px;
  padding: 0px;
}

svg.tree {
  font: 10px sans-serif;
  background-color: #EAEAEA;
  margin: 0;
}

.tutorial-step {
  margin: 10px;
  padding: 10px;
  background-color: #EAEAEA;
  border: 1px solid #231F20;
  border-radius: 6px;
}

.tutorial-step hr {
  border-color: transparent;
}

.fa:hover {
  cursor: pointer;
}

.tutorial.Draft {
  opacity: 0.6;
  fill: black;
  height: 150px !important;
  border: 10px solid cyan;
}

image {


  border: 4px solid cyan;
fill: cyan;
background-color: cyan;
stroke-width: 4;
stroke: cyan;
display: block;
}

.tree {
position: relative;
}
.tutorial {
display: block;
position: absolute;
}


