---

- name: create host deploy user
  user: name=host shell=/bin/bash home=/srv

- name: add local key to the authorized_keys for deployment
  authorized_key: user=host key="{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: install database creation library
  sudo: yes
  apt: pkg=python-psycopg2 update_cache=yes

- name: create production database
  sudo: yes
  sudo_user: postgres
  postgresql_db: name=skilltree_prod

- name: ensure user has access to production database
  sudo: yes
  sudo_user: postgres
  postgresql_user: db=skilltree_prod name=skilltree_user password={{ production_db_password }} priv=ALL

- name: ensure user does not have unnecessary privilege
  sudo: yes
  sudo_user: postgres
  postgresql_user: name=skilltree_user role_attr_flags=NOSUPERUSER,NOCREATEDB

- name: make bin directory for keter
  file: "dest=/opt/keter/bin mode=755 state=directory"

- name: make etc directory for keter
  file: "dest=/opt/keter/etc mode=755 state=directory"

- name: make incoming directory
  file: "dest=/opt/keter/incoming mode=755 state=directory owner=host"

- name: copy keter config
  copy: src=keter-config.yaml dest=/opt/keter/etc/keter-config.yaml

- name: install keter service
  copy: src=keter-init dest=/etc/init.d/keter mode=0751


# NOTE(dbp 2014-08-18): We build keter binary inside development VM,
# so we can't actually start the service yet (as the binary isn't
# there yet).